@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    /* BACKGROUNDS */
    --main-background: hsl(222, 26%, 31%);
    --toggle-keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);

    /* KEYS */
    --blue-key-background: hsl(225, 21%, 49%);
    --blue-key-shadow: hsl(224, 28%, 35%);

    --red-key-background: hsl(6, 63%, 50%);
    --red-key-shadow: hsl(6, 70%, 34%);

    --orange-key-background: hsl(30, 25%, 89%);
    --orange-key-shadow: hsl(28, 16%, 65%);

    /* TEXT */
    --dark-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);
    --fs-numbers: 32px;
    --fw: 700;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    /*border: 1px solid aqua;*/
    border-radius: 10px;
    /*height: 85%;*/
    padding: 20px;
    /*background-color: var(--toggle-keypad-background);*/
}

.calculator__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo p {
    font-size: 20px;
    color: var(--white);
}

.calculator__display {
    border-radius: 10px;
    background-color: var(--screen-background);
    padding: 28px 20px 20px 20px;
    margin-bottom: 20px;
}

.header__screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.header__screen p {
    color: var(--white);
    font-size: var(--fs-numbers);
    margin: 0;
    font-weight: var(--fw);
}

.calculator__keypad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 274px;
    background-color: var(--screen-background);
    border-radius: 10px;
    padding: 20px;
}

.keypad__key {
    background-color: var(--orange-key-background);
    color: var(--dark-blue);
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: var(--fw);
    border: none;
    -webkit-box-shadow: inset -1px -3px 2px 0px rgba(178, 162, 150, 1);
    -moz-box-shadow: inset -1px -3px 2px 0px rgba(178, 162, 150, 1);
    box-shadow: inset -1px -3px 2px 0px rgba(178, 162, 150, 1);
}

.keypad__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.last-row {
    /*justify-content: space-between;*/
}

.keypad__key[value='del'] {
    color: white;
    padding: 12px 25px;
    background-color: var(--blue-key-background);
    -webkit-box-shadow: inset -1px -3px 2px 0px rgba(66, 78, 116, 1);
    -moz-box-shadow: inset -1px -3px 2px 0px rgba(66, 78, 116, 1);
    box-shadow: inset -1px -3px 2px 0px rgba(66, 78, 116, 1);
}
.reset, .equal {
    padding: 15px 70px;
}

.equal {
    background-color: var(--red-key-background);
    -webkit-box-shadow: inset -1px -3px 2px 0px rgba(144, 35, 23, 1);
    -moz-box-shadow: inset -1px -3px 2px 0px rgba(144, 35, 23, 1);
    box-shadow: inset -1px -3px 2px 0px rgba(144, 35, 23, 1);
    color: var(--white);
}

.reset {
    background-color: var(--blue-key-background);
    -webkit-box-shadow: inset -1px -3px 2px 0px rgba(66, 78, 116, 1);
    -moz-box-shadow: inset -1px -3px 2px 0px rgba(66, 78, 116, 1);
    box-shadow: inset -1px -3px 2px 0px rgba(66, 78, 116, 1);
    color: var(--white);
}